# Classification problem

In [64]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
%matplotlib inline

 Data scurce: Kaggle

In [65]:
df = pd.read_csv('Placement_Data_Full_Class.csv')

In [66]:
df.head(2)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0

I'm going to drop few columns for better prediction

In [67]:
# Label column: admission score: Placed / Not placed in status column

# Exploratory Data Analysis

In [68]:
df['salary'].isnull().sum()

67

# Replace missing data

 Replace Nan values with median value. Mean is sensitive to the outliers

In [69]:
df1=df.fillna(df.median())
#df1=df.fillna(df.mean())

In [70]:
df1['salary'].isnull().sum()

0

In [71]:
#for col in df.columns:
 #   print(col, ' :', len(df[col].unique()), 'labels' )

# Visualize data with pandas ProfileReport

In [72]:
profile= ProfileReport(df, title='Pandas Profile Report', explorative=True)

In [12]:
profile.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=29.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# Save profile report to html file

In [73]:
profile.to_file('Campus_placement_profile.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=29.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [41]:
#df['hsc_s'].unique()

In [12]:
df['hsc_s'].value_counts()

Commerce    113
Science      91
Arts         11
Name: hsc_s, dtype: int64

In [13]:
df.set_index('sl_no',inplace=True)

# Encoding

In [14]:
def hot_encoding(df,col, prefix):
    hot= pd.get_dummies(df[col], prefix=prefix, drop_first=True)
    df=pd.concat([hot,df], axis=1)
    df.drop(col, axis=1, inplace=True)
    return df

In [15]:
def hot_encodingr(df,col, prefix):
    hot= pd.get_dummies(df[col], prefix=prefix, drop_first=True)
    df=pd.concat([df,hot], axis=1)
    df.drop(col, axis=1, inplace=True)
    return df

# These categorical columns are encoded

Features' columns (categorical)

In [16]:
cat_cols=('gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation' )

Encoding the output column

In [17]:
df1=hot_encodingr(df1, 'status', 'status')

In [18]:
df1.head(2)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary,status_Placed
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,270000.0,1
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,200000.0,1

In [19]:
means1 = df1.groupby('degree_t')['status_Placed'].mean().to_dict()

In [20]:
means2 = df1.groupby('specialisation')['status_Placed'].mean().to_dict()

In [21]:
means3 = df1.groupby('degree_t')['status_Placed'].mean().to_dict()

In [22]:
means3

{'Comm&Mgmt': 0.7034482758620689,
 'Others': 0.45454545454545453,
 'Sci&Tech': 0.6949152542372882}

In [23]:
#means1

In [24]:
df1.head(2)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary,status_Placed
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,270000.0,1
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,200000.0,1

Encoding features columns

In [25]:
for col in cat_cols:
    df1=hot_encoding(df1, col, col)

After encoding

In [26]:
df1.head(2)

,specialisation_Mkt&HR,workex_Yes,degree_t_Others,degree_t_Sci&Tech,hsc_s_Commerce,hsc_s_Science,hsc_b_Others,ssc_b_Others,gender_M,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,status_Placed
0,1,0,0,1,1,0,1,1,1,1,67.00,91.00,58.00,55.0,58.80,270000.0,1
1,0,1,0,1,0,1,1,0,1,2,79.33,78.33,77.48,86.5,66.28,200000.0,1

# Scaling the numerical values

In [27]:
from scipy.stats import zscore
from sklearn.preprocessing import MinMaxScaler

In [28]:
zscore_cols=['ssc_p', 'hsc_p', 'degree_p', 'mba_p']

In [29]:
#df1['ssc_p']=zscore(df1['ssc_p'])

In [30]:
#df1.head(2)

In [31]:
for col in zscore_cols:
    df1[col]=zscore(df1[col])

In [32]:
df1.head(2)

,specialisation_Mkt&HR,workex_Yes,degree_t_Others,degree_t_Sci&Tech,hsc_s_Commerce,hsc_s_Science,hsc_b_Others,ssc_b_Others,gender_M,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,status_Placed
0,1,0,0,1,1,0,1,1,1,1,-0.028087,2.268812,-1.140102,55.0,-0.597647,270000.0,1
1,0,1,0,1,0,1,1,0,1,2,1.113369,1.103448,1.513267,86.5,0.687620,200000.0,1

In [33]:
scaler = MinMaxScaler()

In [34]:
df1[['etest_p', 'salary']] = scaler.fit_transform(df1[['etest_p', 'salary']])

In [35]:
df1.head(3)

,specialisation_Mkt&HR,workex_Yes,degree_t_Others,degree_t_Sci&Tech,hsc_s_Commerce,hsc_s_Science,hsc_b_Others,ssc_b_Others,gender_M,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,status_Placed
0,1,0,0,1,1,0,1,1,1,1,-0.028087,2.268812,-1.140102,0.104167,-0.597647,0.094595,1
1,0,1,0,1,0,1,1,0,1,2,1.113369,1.103448,1.513267,0.760417,0.687620,0.000000,1
2,0,0,0,0,0,0,0,0,1,3,-0.213238,0.153313,-0.322843,0.520833,-0.769474,0.067568,1

In [36]:
# Set features and output matrices

In [37]:
X=df1.iloc[:, 0:15].values

In [38]:
y=df1.iloc[:, -1].values

In [39]:
df1.shape

(215, 17)

In [40]:
X.shape

(215, 15)

In [41]:
y.shape

(215,)

# Training

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=20)

In [44]:
from sklearn.linear_model import LogisticRegression

# Logistic regression

In [45]:
lr = LogisticRegression()

In [46]:
lr.fit(X_train,y_train)

/usr/lib/python3/dist-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
lr.score(X_test,y_test)

0.8615384615384616

# Random Forest

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
#random_forest = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rfc = RandomForestClassifier(n_estimators=200, random_state=3)

In [50]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=3, verbose=0,
                       warm_start=False)

In [51]:
rfc.score(X_test,y_test)

0.8307692307692308

# Xgboost classifier

In [52]:
from  xgboost import XGBClassifier

In [53]:
xgb=XGBClassifier(random_state=1,learning_rate=0.01)
xgb.fit(X_train, y_train)
xgb.score(X_test,y_test)

0.8615384615384616

In [54]:
from sklearn.metrics import precision_score

In [55]:
y_pred=xgb.predict(X_test)

In [56]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

#dfcm= pd.DataFrame(
    confusion_matrix(y_test, y_pred, labels=['yes', 'no']), 
    index=['true:yes', 'true:no'], 
    columns=['pred:yes', 'pred:no']
)

In [57]:
cm = confusion_matrix(y_test, y_pred)

In [58]:
#dfc=pd.DataFrame(cm, index=['Not Placed', 'Placed'], index=['Not Placed', 'Placed'])

In [59]:
dfc=pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True) .transpose()

In [60]:
dfc

Actual      0   1  All
Predicted
0          16   4   20
1           5  40   45
All        21  44   65

In [61]:
report=classification_report(y_test,y_pred, output_dict=True )

In [62]:
dfr = pd.DataFrame(report).transpose()

In [63]:
dfr

              precision    recall  f1-score    support
0              0.800000  0.761905  0.780488  21.000000
1              0.888889  0.909091  0.898876  44.000000
accuracy       0.861538  0.861538  0.861538   0.861538
macro avg      0.844444  0.835498  0.839682  65.000000
weighted avg   0.860171  0.861538  0.860628  65.000000

# Hyper parameter tuning

# Logistic regression

In [159]:
param_grid_lr=[
    {'penalty': ['l1', 'l2', 'elasticnet', 'none'] ,
    'C': np.logspace(-4,4, 20),
    'solver': ['lbfgs', 'newtog-cg', 'liblinear', 'sag', 'saga'],
     'max_iter': [1, 10, 100, 1000, 2000]
    }
]

In [160]:
lreg = LogisticRegression()

In [161]:
from sklearn.model_selection import GridSearchCV

In [162]:
cvlrge= GridSearchCV(lreg, param_grid=param_grid_lr, cv=5, verbose=True, n_jobs=-1)

In [163]:
#param_grid_lr

In [164]:
best_lreg=cvlrge.fit(X,y)

Fitting 5 folds for each of 2000 candidates, totalling 10000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:   10.4s
[Parallel(n_jobs=-1)]: Done 3492 tasks      | elapsed:   28.3s
[Parallel(n_jobs=-1)]: Done 6964 tasks      | elapsed:   56.9s
[Parallel(n_jobs=-1)]: Done 10000 out of 10000 | elapsed:  1.5min finished
/usr/lib/python3/dist-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [167]:
best_lreg.best_estimator_

LogisticRegression(C=0.23357214690901212, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [168]:
best_lreg.score(X,y)

0.8883720930232558

In [169]:
best_lreg.best_score_

0.8604651162790697

# Random forest

In [171]:
rfc= RandomForestClassifier()

In [172]:
n_estimators = [100, 300, 500, 800, 1200]
max_depth = [5, 8, 15, 25, 30]
min_samples_split = [2, 5, 10, 15, 100]
min_samples_leaf = [1, 2, 5, 10] 

param_rfc = dict(n_estimators = n_estimators, max_depth = max_depth,  
              min_samples_split = min_samples_split, 
             min_samples_leaf = min_samples_leaf)

In [173]:
cv_rfc = GridSearchCV(rfc, param_rfc, cv = 5, verbose = 1, n_jobs = -1) # multi-threaded

In [174]:
best_rfc= cv_rfc.fit(X,y)

Fitting 5 folds for each of 500 candidates, totalling 2500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   24.9s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Done 1242 tasks      | elapsed: 12.9min
[Parallel(n_jobs=-1)]: Done 1792 tasks      | elapsed: 18.6min
[Parallel(n_jobs=-1)]: Done 2442 tasks      | elapsed: 25.2min
[Parallel(n_jobs=-1)]: Done 2500 out of 2500 | elapsed: 25.9min finished

In [175]:
best_rfc.best_estimator_

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=15, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [176]:
best_rfc.score(X,y)

0.9441860465116279

In [177]:
best_rfc.best_score_

0.855813953488372

# xgboost

In [178]:
xgb = XGBClassifier(objective = 'binary:logistic')

In [179]:
param_xgb={
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
    
}

In [180]:
cv_xgb = GridSearchCV(xgb, param_xgb, cv = 5, verbose = 1, n_jobs = -1)

In [181]:
best_xgb= cv_xgb.fit(X,y)

Fitting 5 folds for each of 3840 candidates, totalling 19200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done 656 tasks      | elapsed:   11.6s
[Parallel(n_jobs=-1)]: Done 1656 tasks      | elapsed:   21.7s
[Parallel(n_jobs=-1)]: Done 3056 tasks      | elapsed:   36.6s
[Parallel(n_jobs=-1)]: Done 4856 tasks      | elapsed:   55.2s
[Parallel(n_jobs=-1)]: Done 7056 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 9656 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 12656 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 16056 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 19200 out of 19200 | elapsed:  3.9min finished

In [182]:
best_xgb.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.3, gamma=0.4, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=3, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [183]:
best_xgb.score(X,y)

0.9627906976744186

In [184]:
best_xgb.best_score_

0.8697674418604651